.gitignore
README.md
Taskfile.yml
taskfiles

{{ if eq .chezmoi.os "darwin" }}
.zlogout
.zprofile
.zshrc
.gitconfig
{{ end }}

{{ if eq .chezmoi.os "linux" }}
.bash_logout
.bashprofile
.bashrc
.config/git/config
{{ end }}