{{- template "startup/profile" 
dict 
"shell" "zsh" 
"os" .chezmoi.os 
"brew" .tools.brew 
"code" .tools.code 
"fzf" .tools.fzf 
"gh" .tools.gh 
"mise" .tools.mise 
"navi" .tools.navi 
"ohmyposh" .tools.ohmyposh 
"task" .tools.task 
"zoxide" .tools.zoxide -}}