#!/usr/bin/env bash

set -euo pipefail

# shellcheck disable=SC1091
source "$CHEZMOI_SOURCE_DIR/../utils.sh"

if ! command -v {{ .tools.notion_cli }} &> /dev/null; then
    err "Notion CLI not found ({{ .tools.notion_cli }}). Aborting."
fi

info "Connecting the Notion CLI to your workspace"
{{ .tools.notion_cli }} login