#!/usr/bin/env bash

set -euo pipefail

# shellcheck disable=SC1091
source "$CHEZMOI_SOURCE_DIR/../utils.sh"

if command -v {{ .tools.brew }} &> /dev/null; then
    info "Homebrew is installed ({{ .tools.brew }}). Doing nothing."
    exit 0
fi
info "Installing Homebrew (brew)"
sh -c "$(curl -fsSL {{ .urls.homebrew.installer }})"