#!/usr/bin/env bash
#
# /etc/krb5.conf hash: {{ include "kerberos/mpcdf_krb5.conf" | sha256sum }}
#
set -euo pipefail

# shellcheck disable=SC1091
source "$CHEZMOI_SOURCE_DIR/../utils.sh"

if ! have_sudo; then
    err "User ${USER} does not have sudo access. \
         Cannot write Kerberos config (/etc/krb5.conf)"
fi
sudo -p "Enter password to replace Kerberos config: " \
    cp {{ .files.krb5.mpcdf | quote }} /etc/krb5.conf